<div class="h-full w-full pt-6 py-14 bg-[var(--secondary-color)]">
    <h1 class="w-full text-center text-6xl font-bold my-10 text-[var(--primary-color)]">Login</h1>

    <div class="max-w-[800px] shadow-xl w-full mx-auto bg-[var(--primary-color)] rounded-xl p-8 py-8 flex items-center justify-center">
        <%= form_with scope: :session, url: login_path, local: true, class: 'w-full' do |f| %>
            <div class="h-auto mb-6 w-full relative">
                <p class="text-lg text-[var(--light-blue)] font-mono mb-1"><%= f.label :email, "Email" %></p>
                <%= f.text_field :email, placeholder: "Enter Email", class: "border border-[var(--light-blue)] transition-all duration-300 focus:ring-2 focus:ring-offset-2 focus:!ring-offset-[var(--primary-color)] focus:ring-[var(--secondary-color)] font-light text-lg rounded-lg px-3 bg-transparent !outline-none text-white tracking-wide w-full h-12" %>
            </div>
            <div class="h-auto mb-3 w-full relative">
                <p class="text-lg text-[var(--light-blue)] font-mono mb-1"><%= f.label :password, "Password" %></p>
                <%= f.password_field :password, placeholder: "Enter Password", class: "border border-[var(--light-blue)] transition-all duration-300 focus:ring-2 focus:ring-offset-2 focus:!ring-offset-[var(--primary-color)] focus:ring-[var(--secondary-color)] font-light text-lg rounded-lg px-3 bg-transparent !outline-none text-white tracking-wide w-full h-12" %>
            </div>
            <div class="h-auto w-full relative flex items-center justify-start gap-2 select-none">
                <%= f.check_box :remember_me, placeholder: "Enter Password", class: "rounded-lg w-4 h-4 bg-transparent peer hidden" %>
                <div class="w-4 h-4 rounded border border-[var(--light-blue)] flex items-center justify-center" 
                    onclick="console.log('checked'); document.querySelector('#session_remember_me').checked = !document.querySelector('#session_remember_me').checked"></div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-3 h-3 absolute top-1 left-0.5 text-[var(--light-blue)] peer-checked:block hidden z-10" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                </svg>
                <p class="text-sm text-[var(--light-blue)] font-mono"><%= f.label :remember_me, "Remember Me" %></p>
            </div>
            <div class="h-auto mb-6 w-full relative">
                <%= link_to "Don't have an account? Sign Up", signup_path, class: 'text-[var(--light-blue)] font-mono mb-1 text-sm underline' %>
            </div>
            <div class="flex items-center justify-center mx-auto">
                <%= f.submit "Login", class: 'border cursor-pointer mx-auto bg-[var(--secondary-color)] text-lg text-[var(--primary-color)] font-medium w-fit rounded-lg font-medium p-2 px-4 hover:-translate-y-0.5 transition-all duration-300' %>
            </div>
        <% end %>
    </div>

    <div class="w-full flex items-center justify-center gap-2 my-6">
        <p class="text-xs font-medium px-2 py-1 bg-blue-600 text-white cursor-pointer rounded"><%= link_to "Back to Users", users_path %></p>
    </div>
</div>