<div class="h-full mt-32 my-16">
    <h1 class="w-full text-center text-4xl font-bold my-10">List All Article</h1>
    <p class="absolute text-xs font-medium top-2 right-10 p-1.5 px-2.5 bg-blue-800 text-white rounded">
        <%= link_to  'Add Article', new_article_path() %>
    </p>

    <table class="mx-auto border-2 border-collapse border-gray-400 rounded-xl">
        <thead>
            <tr>
                <th class="p-2 px-3 border-2 border-collapse border-gray-400 ubuntu-bold">Title</th>
                <th class="p-2 px-3 border-2 border-collapse border-gray-400 ubuntu-bold">Description</th>
                <th class="p-2 px-3 border-2 border-collapse border-gray-400 ubuntu-bold">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @articles.each do |article| %>
                <tr>
                    <td class="border border-collapse border-r-2 border-r-gray-400 p-2 px-3 ubuntu-normal"><%= article.title %></td>
                    <td class="border border-collapse border-r-2 border-r-gray-400 p-2 px-3 max-w-[700px] ubuntu-normal"><%= article.description %></td>
                    <td class="first:!border-none border-t border-collapse p-2 px-3 flex items-center justify-center gap-2 ubuntu-normal">
                        <p class="text-xs cursor-pointer font-medium p-0.5 px-2 py-1 bg-yellow-600 text-white rounded">
                            <%= link_to 'View', article_path(article) %>
                        </p>
                        <p class="text-xs cursor-pointer font-medium p-0.5 px-2 py-1 bg-green-600 text-white rounded">
                            <%= link_to 'Edit', edit_article_path(article) %>
                        </p>
                        <p class="text-xs cursor-pointer font-medium p-0.5 px-2 py-1 bg-red-600 text-white rounded">
                            <%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure, you want to delete this article ?" } %>
                        </p>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class="w-full flex items-center justify-center gap-2 my-6">
        <p class="font-medium px-4 py-2 bg-blue-600 text-white cursor-pointer rounded-lg"><%= link_to "Home Page", root_path %></p>
    </div>
</div>