<h1 class="w-full text-center text-4xl font-bold my-10">Show Article Details</h1>

<div class="w-[400px] mx-auto flex flex-col items-start justify-center gap-2 border border-gray-400 rounded-md py-6">
    <p class="px-8 flex flex-col">
        <span class="font-bold">Title</span>
        <%= @article.title %>
    </p>
    <hr class="w-full my-3 h-[1.5px] bg-gray-400" />
    <p class="px-8 flex flex-col">
        <span class="font-bold">Description</span>
        <%= @article.description %>
    </p>
</div>

<div class="w-full flex items-center justify-center gap-2 my-6">
    <p class="text-xs cursor-pointer font-medium px-2 py-1 bg-blue-600 text-white rounded"><%= link_to "Add New Article", new_article_path() %></p>
    <p class="text-xs cursor-pointer font-medium px-2 py-1 bg-green-600 text-white rounded"><%= link_to "Edit", edit_article_path(@article) %></p>
    <p class="text-xs cursor-pointer font-medium px-2 py-1 bg-red-600 text-white rounded"><%= link_to "Delete", article_path(@article), data: { turbo_method: :DELETE, turbo_confirm: "Are you sure, you want to delete this article ?" } %></p>
    <p class="text-xs cursor-pointer font-medium px-2 py-1 bg-blue-600 text-white rounded"><%= link_to "Back to Articles", articles_path %></p>
</div>