<div class="h-full w-full bg-[var(--secondary-color)] pt-12 py-16">
    <% if !@users.empty? %>
        <h1 class="w-full text-center text-6xl font-bold mb-10 text-[var(--primary-color)]">All Users</h1>
        <% if logged_in? && current_user.role != "user" %>
            <%= link_to 'Add User', signup_path(), class: "absolute text-xs font-medium top-16 right-10 p-1.5 px-2.5 bg-blue-800 text-white rounded" %>
        <% end %>
    <% end %>

    <div class="px-12 w-full flex flex-col items-center justify-center gap-8">
        <% if @users.empty? %>
            <div class="w-full h-full flex flex-col items-center justify-center">
                <div class="flex h-full w-full items-center justify-center gap-10">
                    <%= image_tag "no_data_gif.gif", class: "w-auto h-[500px]" %>
                    <div class="w-full h-full flex flex-col items-start justify-start gap-2 my-6">
                        <h2 class="text-4xl font-medium font-mono mb-4">No Users found! Create a user by clicking the button below.</h2>
                        <p class="font-medium px-5 py-2.5 text-lg bg-[var(--primary-color)] text-white cursor-pointer rounded-lg"><%= link_to  'Add Article', new_article_path() %></p>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="w-full grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 gap-4">
            <% @users.each do |user| %>
                <div class="w-full h-full flex flex-col items-center justify-center rounded-xl overflow-hidden">
                    <div class="w-full relative">
                        <%= image_tag user.profile_img, class: "w-full lg:h-64 md:h-52 h-60 object-cover object-center" %>
                        <div class="w-full h-full bg-gradient-to-t from-gray-800 to-transparent absolute top-0 left-0"></div>
                        <h2 class="w-full absolute text-center bottom-2 left-0 text-white font-medium text-lg"><%= user.username %></h2>
                    </div>
                    <div class="w-full flex items-center justify-center bg-[var(--primary-color)]">
                        <%= link_to user_path(user), class: 'w-full py-3 hover:scale-125 transition-all' do %>
                            <p class="w-full flex items-center justify-center cursor-pointer transition-all duration-300 p-1 px-2.5 text-yellow-500 rounded">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </p>
                        <% end %>
                        <% if logged_in? && (user == current_user || current_user.role == "admin") %>
                            <%= link_to edit_user_path(user), class: 'w-full py-3 hover:scale-125 transition-all' do %>
                                <p class="w-full flex items-center justify-center cursor-pointer transition-all duration-300 p-1 px-2.5 text-green-600 rounded">
                                    <svg class="w-[22px] h-[22px]" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2038 10.796L18.9998 9C19.545 8.45475 19.8176 8.18213 19.9634 7.88803C20.2407 7.32848 20.2407 6.67153 19.9634 6.11197C19.8176 5.81788 19.545 5.54525 18.9998 5C18.4545 4.45475 18.1819 4.18213 17.8878 4.03639C17.3282 3.75911 16.6713 3.75911 16.1117 4.03639C15.8176 4.18213 15.545 4.45475 14.9998 5L13.1811 6.81866C14.145 8.46926 15.5311 9.84482 17.2038 10.796ZM11.7267 8.27312L4.85615 15.1436C4.43109 15.5687 4.21856 15.7812 4.07883 16.0423C3.93909 16.3034 3.88015 16.5981 3.76226 17.1876L3.14686 20.2646C3.08034 20.5972 3.04708 20.7635 3.14168 20.8581C3.23629 20.9527 3.4026 20.9194 3.73521 20.8529L6.81219 20.2375C7.40164 20.1196 7.69637 20.0607 7.95746 19.9209C8.21856 19.7812 8.43109 19.5687 8.85615 19.1436L15.7456 12.2542C14.1239 11.2386 12.7522 9.87628 11.7267 8.27312Z" fill="currentColor"/>
                                    </svg>
                                </p>
                            <% end %>
                            <%= link_to user_path(user), class: 'w-full py-3 hover:scale-125 transition-all', data: { turbo_method: :delete, turbo_confirm: "Are you sure, you want to delete this user ?" } do %>
                                <p class="w-full flex items-center justify-center cursor-pointer transition-all duration-300 p-1 px-2.5 text-red-600 rounded">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                </p>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <button class="bg-[var(--primary-color)] text-[var(--secondary-color)] px-6 py-2 rounded-lg" onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth'})">Back To Top</button>
        <div class="flickr_pagination">
            <%= will_paginate @articles, :container => false %>
        </div>
    </div>
</div>