<div class="h-full w-full bg-[var(--secondary-color)] pt-12 py-16">
    <% if !@users.empty? %>
        <h1 class="w-full text-center text-6xl font-bold mb-10 text-[var(--primary-color)]">All Users (<%= @users.length %>)</h1>
        <p class="absolute text-xs font-medium top-16 right-10 p-1.5 px-2.5 bg-blue-800 text-white rounded">
            <%= link_to  'Add User', signup_path() %>
        </p>
    <% end %>

    <div class="mx-auto max-w-5xl flex flex-col items-center justify-center gap-8">
        <% if @users.empty? %>
            <div class="w-full h-full flex flex-col items-center justify-center">
                <div class="flex h-full w-full items-center justify-center gap-10">
                    <%= image_tag "no_data_gif.gif", class: "w-auto h-[500px]" %>
                    <div class="w-full h-full flex flex-col items-start justify-start gap-2 my-6">
                        <h2 class="text-4xl font-medium font-mono mb-4">No Users found! Create a user by clicking the button below.</h2>
                        <p class="font-medium px-5 py-2.5 text-lg bg-[var(--primary-color)] text-white cursor-pointer rounded-lg"><%= link_to  'Add Article', new_article_path() %></p>
                    </div>
                </div>
            </div>
        <% end %>
        <% @users.each do |user| %>
            <div class="w-full mx-auto flex flex-col items-start justify-center border border-gray-400 rounded-lg overflow-hidden shadow-md">
                <p class="h-14 text-xl font-bold px-4 py-2 bg-[var(--light-blue)] border-b border-gray-400 text-[var(--primary-color)] w-full flex items-center justify-center italic">by <%= user.username if user %></p>
                <div class="px-4 py-5 h-full overflow-y-scroll no-scrollbar flex flex-col items-center justify-start gap-2 w-full">
                    <p class="font-bold text-lg "><%= user.username %></p>
                    <p class="text-sm mb-3"> <%= user.email %></p>
                    <div class="flex flex-col w-full max-w-lg mx-auto">
                        <% if !user.articles.empty? %>
                            <p class="w-full max-w-lg text-lg font-bold">Articles by <%= user.username %></p>
                            <% user.articles.each_with_index do |article, idx|  %>
                                <div class="w-full flex items-center justify-between gap-3">
                                    <p><%= idx+1 %>. <%= article.title %></p>
                                    <div class="flex items-center justify-center gap-2">
                                        <%= link_to article_path(article) do %>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5 text-yellow-500" viewBox="0 0 16 16">
                                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                            </svg>
                                        <% end %>
                                        <%= link_to edit_article_path(article) do %>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 text-green-500" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                            </svg>
                                        <% end %>
                                        <%= link_to article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this article >" } do %>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 text-red-500" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                            </svg>
                                        <% end %>                                        
                                    </div>
                                </div>
                            <% end
                        end %>
                    </div>
                    <div class="w-full flex items-center justify-center gap-3">
                        <p class="text-sm cursor-pointer transition-all duration-300 font-medium p-1 px-2.5 border-2 border-yellow-500 hover:bg-yellow-500 hover:text-white text-yellow-500 rounded"><%= link_to 'View User', user_path(user) %></p>
                        <p class="text-sm cursor-pointer transition-all duration-300 font-medium p-1 px-2.5 border-2 border-green-600 hover:bg-green-600 hover:text-white text-green-600 rounded"><%= link_to 'Edit User', edit_user_path(user) %></p>
                        <p class="text-sm cursor-pointer transition-all duration-300 font-medium p-1 px-2.5 border-2 border-red-600 hover:bg-red-600 hover:text-white text-red-600 rounded"><%= link_to 'Delete User', user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure, you want to delete this user ?" } %></p>
                    </div>
                </div>
                <p class="h-14 text-lg px-4 py-2 bg-[var(--light-blue)] border-t border-gray-400 text-[var(--primary-color)] w-full flex items-center justify-center">
                    <small>Created <span class="font-bold"><%= time_ago_in_words(user.created_at) %></span> ago, 
                    edited <span class="font-bold"><%= time_ago_in_words(user.updated_at) %></span> ago</small>
                </p>
            </div>
        <% end %>
        <button class="bg-[var(--primary-color)] text-[var(--secondary-color)] px-6 py-2 rounded-lg" onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth'})">Back To Top</button>
    </div>
</div>