<!DOCTYPE html>
<html>
  <head>
    <title>ROR Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="max-w-screen overflow-x-hidden">

    <header class="shadow-md shadow-gray-700 fixed top-0 left-0 h-20 bg-[var(--primary-color)] w-full min-w-screen !z-50 flex items-center justify-between px-12 text-[var(--secondary-color)]">
      <%= link_to root_path do %>
        <div class="flex items-center justify-center gap-3">
          <img src="https://cdn.pixabay.com/photo/2017/03/16/21/18/logo-2150297_640.png" alt="Logo" class="w-12 h-12 rounded-lg">
          <h1 class="text-4xl font-bold">BlogSpot</h1>
        </div>
      <% end %>
      <nav class="md:flex items-center justify-center gap-6 text-lg h-full relative hidden">
        <a class="h-full px-1 hover:text-[var(--primary-red)] hover:scale-110 transition-all before:transition-all before:duration-300 flex items-center justify-center !outline-none font-medium relative before:w-0 before:h-1 before:absolute before:bottom-1 before:left-1/2 hover:before:left-0 hover:before:w-full before:bg-red-700" href=<%= root_path %>>Home</a>
        <a class="h-full px-1 hover:text-[var(--primary-red)] hover:scale-110 transition-all before:transition-all before:duration-300 flex items-center justify-center !outline-none font-medium relative before:w-0 before:h-1 before:absolute before:bottom-1 before:left-1/2 hover:before:left-0 hover:before:w-full before:bg-red-700" href=<%= users_path %>>Users</a>
        <a class="h-full px-1 hover:text-[var(--primary-red)] hover:scale-110 transition-all before:transition-all before:duration-300 flex items-center justify-center !outline-none font-medium relative before:w-0 before:h-1 before:absolute before:bottom-1 before:left-1/2 hover:before:left-0 hover:before:w-full before:bg-red-700" href=<%= articles_path %>>Articles</a>
        <a class="h-full px-1 hover:text-[var(--primary-red)] hover:scale-110 transition-all before:transition-all before:duration-300 flex items-center justify-center !outline-none font-medium relative before:w-0 before:h-1 before:absolute before:bottom-1 before:left-1/2 hover:before:left-0 hover:before:w-full before:bg-red-700" href=<%= about_path %>>About Us</a>
        <a class="h-full px-1 hover:text-[var(--primary-red)] hover:scale-110 transition-all before:transition-all before:duration-300 flex items-center justify-center !outline-none font-medium relative before:w-0 before:h-1 before:absolute before:bottom-1 before:left-1/2 hover:before:left-0 hover:before:w-full before:bg-red-700" href=<%= contact_path %>>Contact Us</a>
        <% if logged_in? %>
          <%= image_tag current_user.profile_img, class: 'w-10 h-10 rounded-full object-cover object-center cursor-pointer', onclick: 'toggleProfile()' %>
          <div class="absolute origin-top-right transition-all duration-300 overflow-hidden w-40 scale-0 flex flex-col items-center justify-center -bottom-20 -right-0 z-50 border border-[var(--primary-color)] bg-[rgba(255,255,255,0.4)] backdrop-blur-lg rounded-lg" id="profile_dropdown">
            <%= link_to user_path(current_user), class: 'w-full text-center h-full p-2 !outline-none' do %>
              <p class="w-full h-full flex items-center justify-center gap-2 text-black hover:text-[var(--primary-red)] transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-5 pt-0.5" viewBox="0 0 16 16">
                  <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0"/>
                  <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z"/>
              </svg> Settings
              </p>
            <% end %>
            <hr class="w-full border-t border-[var(--primary-color)]"></hr>
            <%= link_to logout_path, data: { turbo_method: :delete }, class: 'w-full text-center h-full pt-1.5 pb-2 px-2 !outline-none' do %>
              <p class="w-full h-full flex items-center justify-center gap-2 text-black hover:text-[var(--primary-red)] transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                </svg> Logout
              </p>
              
            <% end %>
          </div>
        <% else %>
          <a class="h-full px-1 hover:text-[var(--primary-red)] hover:scale-110 transition-all before:transition-all before:duration-300 flex items-center justify-center !outline-none font-medium relative before:w-0 before:h-1 before:absolute before:bottom-1 before:left-1/2 hover:before:left-0 hover:before:w-full before:bg-red-700" href=<%= login_path %>>Login</a>
          <a class="h-full px-1 hover:text-[var(--primary-red)] hover:scale-110 transition-all before:transition-all before:duration-300 flex items-center justify-center !outline-none font-medium relative before:w-0 before:h-1 before:absolute before:bottom-1 before:left-1/2 hover:before:left-0 hover:before:w-full before:bg-red-700" href=<%= signup_path %>>Sign Up</a>
        <% end %>
      </nav>
    </header>

    <%= render 'layouts/messages' %>
    <div class="main mt-20 relative h-full">
      <%= yield %>
    </div>

    <footer class="shadow-[0_-4px_6px_-1px] shadow-gray-700 w-full min-w-screen h-full bg-[var(--primary-color)] p-12 !z-50 relative">
      <div class="mx-auto w-full">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href=<%= root_path %> class="flex items-center">
                  <img src="https://cdn.pixabay.com/photo/2017/03/16/21/18/logo-2150297_640.png" class="h-8 me-3 rounded-full" alt="FlowBite Logo" />
                  <span class="self-center text-2xl font-semibold whitespace-nowrap text-[var(--secondary-color)]">Parth</span>
              </a>
              <p class="w-full max-w-sm mt-4 text-[var(--light-blue)] font-mono">This website is a demo website created by me for learning Ruby On Rails from scratch.</p>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold uppercase text-[var(--light-blue)]">Resources</h2>
                  <ul class="text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href=<%= articles_path %> class="hover:ml-1 transition-all">Articles</a>
                      </li>
                      <li class="mb-4">
                          <a href=<%= about_path %> class="hover:ml-1 transition-all">About Us</a>
                      </li>
                      <li>
                          <a href=<%= contact_path %> class="hover:ml-1 transition-all">Contact Us</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold uppercase text-[var(--light-blue)]">Follow us</h2>
                  <ul class="text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://github.com/GitHubParth" class="hover:ml-1 transition-all">Github</a>
                      </li>
                      <li>
                          <a href="https://discord.gg/4eeurUVvTy" class="hover:ml-1 transition-all">Discord</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold uppercase text-[var(--light-blue)]">Legal</h2>
                  <ul class="text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="#" class="hover:ml-1 transition-all">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="#" class="">Terms &amp; Conditions</a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>

        <hr class="my-6 border-gray-300 sm:mx-auto lg:my-8" />

        <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm font-medium sm:text-center text-[var(--light-blue)] font-mono">
            © 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0">
              <a href="#" class="text-gray-400 hover:text-[var(--primary-red)]">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                  <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                </svg>
                <span class="sr-only">Facebook page</span>
              </a>
              <a href="#" class="text-gray-400 hover:text-[var(--primary-red)] ms-5">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
                  <path d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
                </svg>
                <span class="sr-only">Discord community</span>
              </a>
              <a href="#" class="text-gray-400 hover:text-[var(--primary-red)] ms-5">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                  <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
                </svg>
                <span class="sr-only">Twitter page</span>
              </a>
              <a href="#" class="text-gray-400 hover:text-[var(--primary-red)] ms-5">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                </svg>
                <span class="sr-only">GitHub account</span>
              </a>
              <a href="#" class="text-gray-400 hover:text-[var(--primary-red)] ms-5">
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M10 0a10 10 0 1 0 10 10A10.009 10.009 0 0 0 10 0Zm6.613 4.614a8.523 8.523 0 0 1 1.93 5.32 20.094 20.094 0 0 0-5.949-.274c-.059-.149-.122-.292-.184-.441a23.879 23.879 0 0 0-.566-1.239 11.41 11.41 0 0 0 4.769-3.366ZM8 1.707a8.821 8.821 0 0 1 2-.238 8.5 8.5 0 0 1 5.664 2.152 9.608 9.608 0 0 1-4.476 3.087A45.758 45.758 0 0 0 8 1.707ZM1.642 8.262a8.57 8.57 0 0 1 4.73-5.981A53.998 53.998 0 0 1 9.54 7.222a32.078 32.078 0 0 1-7.9 1.04h.002Zm2.01 7.46a8.51 8.51 0 0 1-2.2-5.707v-.262a31.64 31.64 0 0 0 8.777-1.219c.243.477.477.964.692 1.449-.114.032-.227.067-.336.1a13.569 13.569 0 0 0-6.942 5.636l.009.003ZM10 18.556a8.508 8.508 0 0 1-5.243-1.8 11.717 11.717 0 0 1 6.7-5.332.509.509 0 0 1 .055-.02 35.65 35.65 0 0 1 1.819 6.476 8.476 8.476 0 0 1-3.331.676Zm4.772-1.462A37.232 37.232 0 0 0 13.113 11a12.513 12.513 0 0 1 5.321.364 8.56 8.56 0 0 1-3.66 5.73h-.002Z" clip-rule="evenodd"/>
                </svg>
                <span class="sr-only">Dribbble account</span>
              </a>
          </div>
        </div>
      </div>

    </footer>

    <script>
        function toggleProfile(){
          let profileDiv = document.getElementById('profile_dropdown');
          profileDiv.classList.toggle('scale-0').toggle('scale-100')
        }
    </script>
    
  </body>
</html>